// import fonts
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic,cyrillic-ext);

body {
  font-family: 'Ubuntu', sans-serif;
}
.top-banner {
  background-image: url(../images/bg-top.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 645px;
}
.single-page {
  h2 {
    color: @color-white;
    background-color: @color-blue;
    text-align: center;
  }
}