// import fonts
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic&subset=latin,cyrillic,cyrillic-ext);

body {
  font-family: 'Ubuntu', sans-serif;
}

hr {
  &.small-orange {
    background-color: @color-orange;
    height: 2px;
    width: 100px;
  }
  &.full-with-gray {
    background-color: @color-gray;
    height: 2px;
    width: 97%;
  }
  &.full-with-orange {
    background-color: @color-orange;
    height: 2px;
    width: 97%;
  }
}

.text-mid-size {
  font-size: 22px;
  margin-top: 10px;
  font-weight: 300;
}

#navbar {
  ul.navbar-nav {
    li {
      a {
        font-size: 16px;
        color: @color-dark-blue;
      }
    }
    .dropdown-menu-large {
      margin-left: 16px;
      margin-right: 16px;
      padding: 20px 0px;
      li {
        ul {
          padding: 0;
          margin: 0;
          li {
            list-style: none;
          }
        }
      }
      .dropdown-header {
        padding: 5px 0;
        a {
          color: @color-dark-blue;
          font-size: 20px;
          display: block;
          padding: 3px 0;
          clear: both;
          font-weight: normal;
          line-height: 1.428571429;
          white-space: normal;
          &.hover,
          &.focus {
            text-decoration: none;
            color: @color-blue;
          }
        }
      }
    }
  }
}

.dropdown:hover {
  border-right: solid 1px @color-gray;
  border-top: solid 1px @color-gray;
  border-left: solid 1px @color-gray;
  a {
    padding: 14px 14px 15px 14px;
  }
  .dropdown-menu {
    display: block;
    border-top: none;
  }
}

.dropdown-large {
  position: static !important;
}

.navbar-brand {
  padding-left: 20px;
  margin-bottom: 15px;
  float: inherit;
  width: 60%;
  a {
    &.terrasoft-logo img {
      height: 18px;
    }
    &.softline-logo img {
      height: 27px;
    }
  }
}
button {
  &.button-call {
    border-radius: 0;
    width: 320px;
    padding: 15px;
    font-size: 18px;
    font-weight: 300;
    color: @color-white;
    margin: 35px;
  }
  &.button-call-marketing {
    width: 100%;
    margin: 100px 20px;
  }
  &.button-orange {
    background-color: @color-orange;
  }
  &.button-blue {
    background-color: @color-blue;
  }
  &.button-olive {
    background-color: @color-olive;
  }
}

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

.top-banner {
  background-image: url(../images/bg-top.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 645px;
}
.banner-content {
  padding: 70px;
  background-color: @color-black;
  .opacity(0.5);
  p {
    color: @color-white;
    font-size: 25px;
    text-align: center;
  }
}
.try-free {
  background-color: @color-try-free-bg;
  ul.nav {
    float: none;
    text-align: center;
    li {
      float: none;
      a {
        color: @color-white;
        padding: 15px 0;
        font-size: 16px;
      }
    }
  }
}
.bordered-left {
  border-left: solid 2px @color-orange;
  padding-left: 20px;
}
.bordered-bottom {
  border-bottom: solid 2px;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  padding-bottom: 10px;
}
.bordered-bottom-blue{
  border-bottom-color: @color-blue;
}
.bordered-bottom-orange {
  border-bottom-color: @color-orange;
}
.bordered-bottom-olive {
  border-bottom-color: @color-olive;
}
.bordered-bottom-middle-blue {
  border-bottom-color: @color-middle-blue;
}
.color-blue {
  color: @color-blue;
}
.color-orange {
  color: @color-orange;
}
.color-olive {
  color: @color-olive;
}
.color-middle-blue {
  color: @color-middle-blue;
}

section {
  h2.section-title {
    color: @color-white;
    background-color: @color-blue;
    text-align: center;
    padding: 10px 0;
    font-weight: 300;
  }
  h3 {
    color: @color-dark-blue;
    font-size: 33px;
    font-weight: 300;
  }
  .section-content {
    margin-top: 40px;
    p{
      margin-left: 20px;
      margin-top: 20px;
    }
  }
  .wrapper-loyalty {
    background-image: url(../images/loyality-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 629px;
    margin-top: 20px;
  }
  .wrapper-contact-center {
    background-image: url(../images/contact-center-img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 629px;
    margin-top: 20px;
  }
  .wrapper-industries {
    background-image: url(../images/industry-solutions.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    margin-top: 20px;
  }
}

#loyalty, #contact-center {
  margin-top: 10px;
  .section-title {
    color: @color-blue;
    font-weight: 300;
    font-size: 35px;
  }
  .section-content {
    font-weight: 300;
    font-size: 20px;
    margin: 0;
  }
  .banner-content {
    padding: 40px 50px;
    border-top: 3px solid @color-blue;
    margin-top: -3px;
    h3 {
      color: @color-white;
      font-size: 35px;
      font-weight: 300;
    }
    p{
      font-weight: 200;
      text-align: left;
      font-size: 16px;
      margin: 0;
    }
  }
  button {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#industries {
  .industries-solutions {
    margin-top: 40px;
    p{
      font-size: 20px;
      color: @color-dark-blue;
      padding-bottom: 20px;
      &.text-logo {
        color: @color-orange;
        font-size: 35px;
        font-weight: 300;
      }
    }
  }
}
#crm-comparison {
  .table-responsive {
    margin-top: 30px;
  }
  table {
    th, td{
      border: 1px solid @color-black;
      text-align: center;
      vertical-align: middle;
      font-size: 18px;
    }
    .td-desc-text {
      font-size: 14px;
      max-width: 200px;
    }
    .plus-minus {
      color: @color-orange;
      font-size: 30px;
      margin: 0 5px;
    }
    .table-icon {
      width: 100px;
      border-bottom: none;
      border-left: none;
      border-top: none;
    }
    .td-icon {
      height: 62px;
      background: url(../images/crm-compar-icons.png) no-repeat;
    }
    .user-price {
      background-position: 0px 10px;
    }
    .data-security {
      background-position: 0px -109px;
    }
    .offline-mode {
      background-position: 0px -228px;
    }
    .on-site-deploy {
      background-position: 0px -360px;
    }
    .free-demo {
      background-position: 0px -503px;
    }
  }
}

#implementation-crm {
  .why-we-ppl-icon {
    width: 225px;
    height: 320px;
    background: url(../images/why-we-img.png) no-repeat;
  }
  .ppl-icon-garant {
    background-position: 40px 0;
  }
  .ppl-icon-free-improv {
    background-position: -290px 0;
  }
  .ppl-icon-best-price {
    background-position: -643px 0;
  }
  .ppl-icon-special-offer {
    background-position: -960px 0;
  }
  .why-we-title {
    font-size: 30px;
    margin: 20px 10px;
    text-align: center;
    font-weight: 300;
  }
  .garant {
    color: @color-middle-blue;
  }
  .free-improv {
    color: @color-orange;
  }
  .best-price {
    color: @color-dark-blue;
  }
  .special-offer {
    color: @color-blue;
  }
  .furthermore {
    margin-top: 20px;
    background-color: @color-blue;
    color: @color-white;
    height: 313px;
    .furthermore-title {
      font-size: 55px;
      font-weight: 300;
      margin: 35px 0;
    }
    .furthermore-content {
      height: 165px;
      font-size: 22px;
      font-weight: 300;
      div {
        p{
          width: 72%;
          margin-left: 18%;
        }
        &.fur-1 {
          position: relative;

          &:after {
            content: "1";
            position: absolute;
            font-size: 235px;
            top: -90px;
            left: 0;
            .opacity(.7);
          }
        }
        &.fur-2 {
          position: relative;

          &:after {
            content: "2";
            position: absolute;
            font-size: 235px;
            top: -90px;
            left: 0;
            .opacity(.7);
          }
        }
        &.fur-3 {
          position: relative;

          &:after {
            content: "3";
            position: absolute;
            font-size: 235px;
            top: -90px;
            left: 0;
            .opacity(.7);
          }
        }
      }


    }
  }
}

#contact {
  .contact-wrapper {
    background-image: url(../images/give-free-access.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 749px;
    margin-top: 20px;
    .row {
      height: 700px;
    }
  }
  h3 {
    color: @color-white;
  }
  p{
    color: @color-white;
  }
  input, select {
    background-color: @color-white;
    border-radius: 0;
    margin: 5px 0;
  }
  select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 99% 52%;
    background-repeat: no-repeat;
    background-image: url(../images/treug.png);
    padding: .5em;
    padding-right: 1.5em
  }

  .get-prices {
    margin-top: 50px;
    .contact-form-wrapper {
      background-color: #e6e6e6;
      .opacity(1);
      input, select {
        border: none;
      }
    }
  }
  .contact-form-wrapper {
    background-color: rgba(255,255,255, 0.5);
    //.opacity(.5);
    padding: 10px 0 0 0;
    h4 {
      color: @color-orange;
    }
    form {
      .form-group {
        .req {
          padding-top: 12px;
          color: red;
        }
      }
      input {
        border: none;
      }
    }
    button.button-call-contact{
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    .form-group {
      margin: 0;
    }
    .col-p-null {
      padding: 0;
    }
  }
}
.more-about-terrasoft {
  text-align: right;
  font-size: 16px;
  color: @color-gray;
  margin: 40px 0 20px;
}

.footer-text {
  font-size: 14px;
  color: @color-gray;
}