/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';

@color-white: #ffffff;
@color-black: #000000;

@color-blue: #4cbadd;
@color-middle-blue: #6490cc;
@color-dark-blue: #154988;
@color-orange: #f47a20;
@color-olive: #95cc6e;
@color-gray: #cccccc;

@color-try-free-bg: #95cc6e;